h1 {
  font-family:'Inconsolata';
}

body a{
  font-family:'Inconsolata';
}

.navbar {
  font-family: 'Inconsolata';
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
} 

.navbar-default {
    background-color: white;
    border-color: #54D44F;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: #e7e7e7;
}